*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1{
   font-size: 3rem; 
}
h2{
    font-size: 2rem;
    text-align: center;
}
section{
    height: 200px; ;
}
section#Inicio{
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section#contacto{
    padding-top: 100vh;

}

body{
    background-color: azure;
}
.ListadeProyectos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.DetallesProyectos{
    border: 5px solid red;
    width: 300px;
    margin: 20px;
}
.DetallesProyectos img{
    width: 100%;
}

header{
    position: sticky;
    top: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: coral;
}
nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
nav ul li{
    margin-left: 20px;
    margin-right: 20 px;
    padding: 10 px 20px;

}