
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(243, 242, 246);
  }

header{
    position: sticky;
    top: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: lightgrey;
}

nav ul{
    
    display: flex;
    justify-content: center;
    list-style: none;
}
nav ul li{
    margin-left: 20px;
    margin-right: 20 px;
    padding: 10 px 20px;
    font-size: 3rem;
}

hr {
    margin: 10px 0;
  }

  h1{
    font-size: 5rem;
    text-align: center; 
 }
 h2{
     font-size: 20px;
     text-align: center;} 
 h5{ font-size: 1rem;

 }    
    
p{
    font-size: 17px;
}

 
.contenedor {
    text-align: left;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   }
   
.barralateral {
    width: 20%;  /* Este será el ancho que tendrá tu columna */
    background-color: #CCCCCC;  /* Aquí pon el color del fondo que quieras para este lateral */
    float:left; /* Aquí determinas de lado quieres quede esta "columna" */
    border:rgb(24, 96, 93); box-shadow: #CCCCCC;
   }
   
.principal {
    width: 75%;
    float: right;
    background-color: #FFFFFF;
    border:rgb(24, 96, 93); box-shadow: #CCCCCC; 
    
   }
/*.contenedor {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
  }

h1{
   font-size: 3rem; 
}
h2{
    font-size: 2rem;
    text-align: center;
}
section{
    height: 200px; ;
}
section#Inicio{
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section#contacto{
    padding-top: 100vh;

}

body{
    background-color: azure;
}
.ListadeProyectos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.DetallesProyectos{
    border: 5px solid red;
    width: 300px;
    margin: 20px;
}
.DetallesProyectos img{
    width: 100%;
}

header{
    position: sticky;
    top: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: coral;
}
nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
nav ul li{
    margin-left: 20px;
    margin-right: 20 px;
    padding: 10 px 20px;

}