
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: silver;
  }

header{
    position: sticky;
    top: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: lightgray;
}

nav ul{
    
    display: flex;
    justify-content: center;
    list-style: none;
}
nav ul li{
    margin-left: 20px;
    margin-right: 20 px;
    padding: 10 px 20px;
    font-size: 3rem;
}

hr {
    margin: 10px 0;
  }

  h1{
    font-size: 5rem;
    text-align: center; 
 }
 h2{
     font-size: 20px;
     text-align: center;} 
 h5{ font-size: 1rem;

 }    
    
p{
    font-size: 17px;
    text-align: justify;
}

 
.contenedor {
    text-align: left;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color:silver;
   
    padding: 5px;
   }
   
.barralateral {
    width: 20%;  /* Este será el ancho que tendrá tu columna */
    
    float:left; /* Aquí determinas de lado quieres quede esta "columna" */
    /*border:rgb(24, 96, 93); box-shadow: #CCCCCC;*/
    margin: auto;
   }
   
.principal {
    width: 75%;
    float: right;
    
    margin: auto;
    
   }
   .piedepagina{
    display:flex;
    justify-content: center;
   }
