*{
   color: greenyellow;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
      
}
body {
    background-color: lightblue;
    }

h1 {
    color: rgb(240, 8, 8);
    text-align: center;
    }

p { color: rgb(14, 4, 153);
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
    }
  section
    <h1>Titulo Bloque 3</h1>
  </div>